html {
  padding: 0;
  height: 100%;
}
body {
  background-color: #fff;
  padding: 0;
  min-height: 100%;
  font-family: 'Titillium';
}
* {
  box-sizing: border-box;
}
button {
  &:focus {
    outline: none;
  }
}
