/* titillium-web-200 - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'),
       url('../fonts/titillium-web-v5-latin-200.woff2') format('woff2'),
       url('../fonts/titillium-web-v5-latin-200.woff') format('woff');
}
/* titillium-web-300 - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
       url('../fonts/titillium-web-v5-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/titillium-web-v5-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('../fonts/titillium-web-v5-latin-regular.woff2') format('woff2'),
       url('../fonts/titillium-web-v5-latin-regular.woff') format('woff');
}
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
       url('../fonts/titillium-web-v5-latin-600.woff2') format('woff2'),
       url('../fonts/titillium-web-v5-latin-600.woff') format('woff');
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v16-latin-regular.woff') format('woff');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v16-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v16-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff');
}
