.app {
  padding: 0 0 20vh;
  margin: 0 auto;
  color: #333;

  &__container {
    max-width: 900px;
    margin-left: 20vw;
  }
  $this: &;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &__question-list {
    clear: both;
    padding: 0;
    list-style: none;
  }
  &__question-item:not(:first-child) {
    margin-top: 80px;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  &__lead {
    font-size: 32px;
  }
  &__button {
    margin: 0 10px;
  }
  &__loading {
    font-size: 32px;
  }
}
