.app {
  padding: 0 0 20vh;
  margin: 0 auto;
  color: #555;
  position: relative;
  min-height: 100vh;
  &__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__container--relative {
    position: relative;
  }
  $this: &;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &__question-list {
    clear: both;
    padding: 0;
    list-style: none;
  }
  &__question-item:not(:first-child) {
    margin-top: 80px;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  &__loading {
    color: #666;
  }

  &__button:not(:last-child) {
    margin: 0 15px;
  }
  &__loading {
    font-size: 32px;
  }
  &__error {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    color: #ccc;
    text-align: center;
    font-size: 4rem;
    transform: translateY(-50%);
  }
  &__done {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 24px;
    line-height: 32px;

    &--all {
      color: $merix-1-color;
      font-weight: bold;
    }
  }
}

@media (max-width: $tablet) {
  .app {
    &__loading {
      font-size: 28px;
    }
    &__question-item:not(:first-child) {
      margin-top: 40px;
    }

  }
}

@media (max-width: $mobile) {
  .app {
    &__loading {
      font-size: 24px;
    }
    &__error {
      font-size: 3rem;
    }
  }
}

@media (max-width: $mobile-small) {
  .app {
    &__error {
      font-size: 2rem;
    }
  }
}
