.code-editor {
  width: 100%;
  margin: 20px auto;
  padding-bottom: 0.01em;

  $this: &;

  .CodeMirror {
    font-size: 14px;
    line-height: 1.5em;
    color: $brown-6-color;
    height: inherit;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 1px;
      background: $amber-3-color;
      transition-property: left, width;
      transition-duration: .25s;
      transition-timing-function: ease;
    }

    &.CodeMirror-focused {
      position: relative;

      &::after {
        left: 0;
        width: 100%;
      }

      .CodeMirror-gutter-wrapper {
        opacity: 1;
      }
    }


    .CodeMirror-lines {
      padding: 10px 0;
    }
    .CodeMirror-gutters {
      width: 40px;
      border-right: 2px solid $amber-3-color;
      background-color: #fff;
    }
    .CodeMirror-gutter-wrapper {
      opacity: 0;
      transition: opacity .25s ease;
    }
    .CodeMirror-cursor {
      border-left: 1px solid $amber-8-color;
    }
    .CodeMirror-sizer {
      margin-left: 40px;
    }
    .CodeMirror-line {
      padding: 0 1em;
    }
    .CodeMirror-linenumber {
      background-color: #fff;
      font-weight: 600;
      color: $brown-6-color;
      color: $amber-5-color;
    }
    .CodeMirror-overlayscroll-horizontal {
      div {
        height: 10px;
        background-color: $amber-6-color;
        opacity: .6;

      }
    }
    .CodeMirror-overlayscroll-vertical {
      div {
        width: 10px;
        background-color: $amber-6-color;
        opacity: .6;
      }
    }
  }

  &--text-only {
    .CodeMirror-linenumber {
      display: none;
    }
  }
  &--read-only {
    .CodeMirror {
      .CodeMirror-gutter-wrapper {
        opacity: 1;
      }
      &.CodeMirror-focused {
        &::after {
          display: none;
        }
      }
      .CodeMirror-cursor {
        border-left: none;
      }
    }
  }
}

.cm-s-custom {
  .cm-keyword {
    font-weight: 600;
    color: $amber-8-color;
  }
  .cm-comment {
    color: $light-green-3-color;
  }
  .cm-def {
    color: $cyan-7-color;
    font-weight: 600;
  }
  .cm-variable {
    color: $cyan-5-color;
  }
  .cm-variable-2 {
    color: $cyan-5-color;
  }
  .cm-number {
    color: $green-8-color;
  }
  .cm-atom {
    color: $light-blue-10-color;
  }
  .cm-string {
    color: $lime-8-color;
  }
  .cm-attribute {
    color: $amber-8-color;
  }
  .cm-tag {
    color: $blue-grey-5-color;
  }
  .cm-builtin {
    color: $light-blue-10-color;
    font-weight: 600;
  }
  .cm-qualifier {
    color: $deep-orange-6-color;
    font-weight: 600;
  }
}


@media (max-width: $mobile) {
  .code-editor {
    .CodeMirror {
      .CodeMirror-overlayscroll-horizontal {
        div {
          height: 5px;
        }
      }
      .CodeMirror-overlayscroll-vertical {
        div {
          width: 5px;
        }
      }
    }
  }

}
