.question {
  position: relative;
  padding: 40px;

  &__text {
    padding-right: 50px;
    line-height: 1.5em;
  }
  &__indicator {
    position: absolute;
    top: 15px;
    left: calc(100% - 90px);
  }
  &__reset-info {
    position: absolute;
    bottom: 120%;
    left: -5px;
    padding: 0.5em;
    white-space: nowrap;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    opacity: 0;
    transition: opacity 0.25s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;


  }
  &__reset {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;


    &::after {
      content: '\f021';
      font-family: 'Icons';
      color: #bbb;
    }

    &:hover {
      .question__reset-info {
        opacity: 1;
        &:hover {
          opacity: 0;
        }
      }
      &::after {
        color: $merix-1-color;
      }
    }
  }
}

@media (max-width: $mobile) {
  .question {
    padding: 20px;

    &__text {
      padding-right: 0;
      font-size: 14px;
    }
    &__indicator {
      top: auto;
      bottom: 15px;
    }
  }
}

@media (max-width: $mobile-small) {
  .question {
    &__indicator {
      bottom: 5px;
    }
  }
}
