.question {
  position: relative;
  padding: 40px;

  &__text {
    padding-right: 100px;
    line-height: 1.5em;
  }
  &__indicator {
    position: absolute;
    top: 30px;
    left: calc(100% - 100px);

    &--saved {
      color: $amber-5-color;
      border-bottom: 2px $amber-5-color solid;
    }
  }
}
