

$tablet: 959px;
$mobile: 719px;
$mobile-small: 479px;

$merix-1-color: #e09431;
$merix-2-color: #DF9232;
$merix-3-color: #DE8F33;
$merix-5-color: #d97d34;

$yellow-1-color: #FFFDE7;
$yellow-2-color: #FFF9C4;
$yellow-3-color: #FFF59D;
$yellow-4-color: #FFF176;
$yellow-5-color: #FFEE58;
$yellow-6-color: #FFEB3B;
$yellow-7-color: #FDD835;
$yellow-8-color: #FBC02D;
$yellow-9-color: #F9A825;
$yellow-10-color: #F57F17;

$amber-1-color: #FFF8E1;
$amber-2-color: #FFECB3;
$amber-3-color: #FFE082;
$amber-4-color: #FFD54F;
$amber-5-color: #FFCA28;
$amber-6-color: #FFC107;
$amber-7-color: #FFB300;
$amber-8-color: #FFA000;
$amber-9-color: #FF8F00;
$amber-10-color: #FF6F00;

$orange-1-color: #FFF3E0;
$orange-2-color: #FFE0B2;
$orange-3-color: #FFCC80;
$orange-4-color: #FFB74D;
$orange-5-color: #FFA726;
$orange-6-color: #FF9800;
$orange-7-color: #FB8C00;
$orange-8-color: #F57C00;
$orange-9-color: #EF6C00;
$orange-10-color: #E65100;

$deep-orange-1-color: #FBE9E7;
$deep-orange-2-color: #FFCCBC;
$deep-orange-3-color: #FFAB91;
$deep-orange-4-color: #FF8A65;
$deep-orange-5-color: #FF7043;
$deep-orange-6-color: #FF5722;
$deep-orange-7-color: #F4511E;
$deep-orange-8-color: #E64A19;
$deep-orange-9-color: #D84315;
$deep-orange-10-color: #BF360C;

$red-1-color: #FFEBEE;
$red-2-color: #FFCDD2;
$red-3-color: #EF9A9A;
$red-4-color: #E57373;
$red-5-color: #EF5350;
$red-6-color: #F44336;
$red-7-color: #E53935;
$red-8-color: #D32F2F;
$red-9-color: #C62828;
$red-10-color: #B71C1C;

$brown-1-color: #EFEBE9;
$brown-2-color: #D7CCC8;
$brown-3-color: #BCAAA4;
$brown-4-color: #A1887F;
$brown-5-color: #8D6E63;
$brown-6-color: #795548;
$brown-7-color: #6D4C41;
$brown-8-color: #5D4037;
$brown-9-color: #4E342E;
$brown-10-color: #3E2723;

$green-1-color: #E8F5E9;
$green-2-color: #C8E6C9;
$green-3-color: #A5D6A7;
$green-4-color: #81C784;
$green-5-color: #66BB6A;
$green-6-color: #4CAF50;
$green-7-color: #43A047;
$green-8-color: #388E3C;
$green-9-color: #2E7D32;
$green-10-color: #1B5E20;

$light-green-1-color: #EFEBE9;
$light-green-2-color: #D7CCC8;
$light-green-3-color: #BCAAA4;
$light-green-4-color: #A1887F;
$light-green-5-color: #8D6E63;
$light-green-6-color: #795548;
$light-green-7-color: #6D4C41;
$light-green-8-color: #5D4037;
$light-green-9-color: #4E342E;
$light-green-10-color: #3E2723;

$lime-1-color: #F9FBE7;
$lime-2-color: #F0F4C3;
$lime-3-color: #E6EE9C;
$lime-4-color: #DCE775;
$lime-5-color: #D4E157;
$lime-6-color: #CDDC39;
$lime-7-color: #C0CA33;
$lime-8-color: #AFB42B;
$lime-9-color: #9E9D24;
$lime-10-color: #827717;

$teal-1-color: #E0F2F1;
$teal-2-color: #B2DFDB;
$teal-3-color: #80CBC4;
$teal-4-color: #4DB6AC;
$teal-5-color: #26A69A;
$teal-6-color: #009688;
$teal-7-color: #00897B;
$teal-8-color: #00796B;
$teal-9-color: #00695C;
$teal-10-color: #004D40;

$cyan-1-color: #E0F7FA;
$cyan-2-color: #B2EBF2;
$cyan-3-color: #80DEEA;
$cyan-4-color: #4DD0E1;
$cyan-5-color: #26C6DA;
$cyan-6-color: #00BCD4;
$cyan-7-color: #00ACC1;
$cyan-8-color: #0097A7;
$cyan-9-color: #00838F;
$cyan-10-color: #006064;

$light-blue-1-color: #E1F5FE;
$light-blue-2-color: #B3E5FC;
$light-blue-3-color: #81D4FA;
$light-blue-4-color: #4FC3F7;
$light-blue-5-color: #29B6F6;
$light-blue-6-color: #03A9F4;
$light-blue-7-color: #039BE5;
$light-blue-8-color: #0288D1;
$light-blue-9-color: #0277BD;
$light-blue-10-color: #01579B;

$blue-1-color: #E3F2FD;
$blue-2-color: #BBDEFB;
$blue-3-color: #90CAF9;
$blue-4-color: #64B5F6;
$blue-5-color: #42A5F5;
$blue-6-color: #2196F3;
$blue-7-color: #1E88E5;
$blue-8-color: #1976D2;
$blue-9-color: #1565C0;
$blue-10-color: #0D47A1;

$indigo-1-color: #E8EAF6;
$indigo-2-color: #C5CAE9;
$indigo-3-color: #9FA8DA;
$indigo-4-color: #7986CB;
$indigo-5-color: #5C6BC0;
$indigo-6-color: #3F51B5;
$indigo-7-color: #3949AB;
$indigo-8-color: #303F9F;
$indigo-9-color: #283593;
$indigo-10-color: #1A237E;

$deep-purple-1-color: #EDE7F6;
$deep-purple-2-color: #D1C4E9;
$deep-purple-3-color: #B39DDB;
$deep-purple-4-color: #9575CD;
$deep-purple-5-color: #7E57C2;
$deep-purple-6-color: #673AB7;
$deep-purple-7-color: #5E35B1;
$deep-purple-8-color: #512DA8;
$deep-purple-9-color: #4527A0;
$deep-purple-10-color: #311B92;

$blue-grey-1-color: #ECEFF1;
$blue-grey-2-color: #CFD8DC;
$blue-grey-3-color: #B0BEC5;
$blue-grey-4-color: #90A4AE;
$blue-grey-5-color: #78909C;
$blue-grey-6-color: #607D8B;
$blue-grey-7-color: #546E7A;
$blue-grey-8-color: #455A64;
$blue-grey-9-color: #37474F;
$blue-grey-10-color: #263238;
